@model GamelistBuilder.Models.Game
<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Rating)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.GameFolder.Path)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Favorite)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.RomFound)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.ImageFound)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.VideoFound)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.MarqueFound)
    </td>
    <td>
        <div class="btn-group" role="group">
            <a class="btn btn-primary" style="margin: 2px" asp-action="EditGame" asp-route-id="@Model.Id">Edit</a>
            <a class="btn btn-danger" style="margin: 2px" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        </div>
    </td>
</tr>