@model GamelistBuilder.Models.Gamelist


@{
    ViewData["Title"] = "Edit";
}

<h2>
    Edit Gamelist @Model.Name
</h2>
@if (ViewData["UnusedImages"] != null)
{
    <span class="badge badge-primary">Unused images: @ViewData["UnusedImages"]</span>
}
@if (ViewData["UnusedVideo"] != null)
{
    <span class="badge badge-primary">Unused videos: @ViewData["UnusedVideo"]</span>
}
@if (ViewData["UnusedMarquee"] != null)
{
    <span class="badge badge-primary">Unused marquee: @ViewData["UnusedMarquee"]</span>
}
@if (ViewData["NewRoms"] != null)
{
    <span class="badge badge-primary">Unimported roms: @ViewData["NewRoms"]</span>
}
<hr />
@if (Model.Games.Count == 0)
{
    <div class="col-md-12">
        <div class="alert alert-danger">
            Gamelist is empty. Please import or add new game manually
        </div>
        <a class="btn btn-primary" asp-route-id="@Model.Id" asp-action="Import">Import gamelist</a>
        <a class="btn btn-default" asp-action="Create">Add game</a>
    </div>
}
else
{

    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <a class="btn btn-danger" asp-route-id="@Model.Id" asp-action="Clear">Clear gamelist</a>
                <a class="btn btn-danger" asp-route-id="@Model.Id" asp-action="DeleteUnusedMedia">Delete unused media files</a>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Rating
                                </th>
                                <th>
                                    Folder
                                </th>
                                <th>
                                    Favorite
                                </th>
                                <th>
                                    Rom
                                </th>
                                <th>
                                    Image
                                </th>
                                <th>
                                    Video
                                </th>
                                <th>
                                    Marque
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.GameFolders)
                            {
                                @await Html.PartialAsync("_Folder", item)
                            }

                            @foreach (var item in Model.Games)
                            {
                                @await Html.PartialAsync("_Game", item)
                            }
                        </tbody>
                    </table>
                </div>


            </form>
        </div>
    </div>
}
<div>
    <a class="btn" asp-action="Index">Back to List</a>
</div>

